<template>
<Auth>
  <div>
      <h1>Product View</h1>
  </div>
</Auth>
</template>

<script>
import Auth from '../components/Auth'
import { getProducts } from '../services/product'
export default {
  async mounted () {
    const products = await getProducts()
    console.log(products)
  },
  components: {
    Auth
  }
}
</script>

<style>

</style>
